header {
  background-color: #ADADAD;
  background-image: url('../images/flywheel.jpeg');
  padding: 50px;
  background-position:top;
  background-repeat:no-repeat;
  background-size:cover;
}
nav{
  text-align:center;
}
nav a:link {
  color: black;
  text-decoration: none;
  opacity: 0.8;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}
nav a:visited {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  opacity: 0.8;
  margin:10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}
nav a:hover {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  opacity: 0.8;
  margin:10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}
nav a:active {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.8;
  background-color: #000000;
  margin:10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}
body{
  padding: 10px;
  margin-left:30px;
  margin-right:30px;
}
h1 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bolder;
  font-size: 150%;
  font-family: Times New Roman;
}
h2 {
  color: #191970;
  font-size: 200%;
  font-family: Times New Roman;
  padding-left: 50px;
}
p {
  font-family: Times New Roman;
  font-size: 120%;
  padding-left: 50px;
  padding-right: 50px;
}
.active{
  color: #FFFFFF;
  background-color: #000000;
}
.left{
  background-color: #009900;
  width: 25%;
  height: 520px;
  float: left;
  padding-bottom: 30px;
  text-align: center;
}
.right{
  background-color: #E0EEE0;
  float: right;
  width: 75%;
  height: 550px;
}

img{
  width: 80%;
  height:20%;
  display: block;
  border: 2px solid #000000;
  margin:20px;
}
table{
  padding-left: 50px;
  padding-right: 30px;
  font-family: Times New Roman;
  font-size: 100%;
}
ul{
  padding-left: 70px;
  padding-right: 30px;
  font-family: Times New Roman;
  font-size: 100%;
}
